@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptsg8zYS_SKggPNyCg4Q4Fv.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwOIpWqhPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqhPBQ.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
body {
  margin: 0;
  background: #FFF;
  color: #333;
}
::selection {
  background: #3C9;
  color: #F3F3F3;
}
.app {
  width: 512px;
  margin: 0 auto;
  background: #FFF;
  color: #333;
  font: 400 16px 'Raleway', sans-serif;
}
.app a {
  color: #3C9;
  text-decoration: none;
}
.app a:hover {
  color: #9C3;
}
.app input,
.app textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font: 400 16px 'Raleway', sans-serif;
  resize: none;
}
.app .material-icon {
  position: relative;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.app i .tool-tip {
  display: none;
  position: absolute;
  z-index: 1;
  left: 32px;
  top: 50%;
  transform: translate(0, -50%);
  padding: 8px 16px;
  background: #333;
  border-radius: 4px;
  color: #F3F3F3;
  font: 400 16px 'Raleway', sans-serif;
}
.app i .tool-tip::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 0;
  height: 0;
  border-right: 8px solid #333;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.app i:hover .tool-tip {
  display: block;
}
.app .to-do-list {
  width: 256px;
  margin: 32px auto;
  padding: 16px;
  background: #F3F3F3;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #dadada;
}
.app .to-do-list h3 {
  margin: 0;
}
.app .to-do-list .controller {
  text-align: right;
}
.app .to-do-list .controller i {
  margin: 0 0 0 8px;
  padding: 8px;
  background: #e6e6e6;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #dadada;
  cursor: pointer;
  transition: all 0.5s ease;
}
.app .to-do-list .controller i:hover {
  background: #ffffff;
  box-shadow: none;
}
.app .to-do-list .controller .tool-tip {
  left: 48px;
}
.app .to-do-list .controller .all:hover {
  color: #9C3;
}
.app .to-do-list .controller .remove-done:hover {
  color: #F36;
}
.app .to-do-list ul {
  list-style: none;
  margin: 16px 0;
  padding: 0;
}
.app .to-do-list .to-do,
.app .to-do-list .placeholder {
  margin: 8px 0;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #dadada;
  cursor: pointer;
  transition: all 0.5s ease;
}
.app .to-do-list .to-do .view,
.app .to-do-list .placeholder .view {
  display: grid;
  grid: auto / 1fr 14fr 1fr;
  grid-gap: 8px;
  align-items: center;
}
.app .to-do-list .to-do .view input[type="checkbox"],
.app .to-do-list .placeholder .view input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.app .to-do-list .to-do .view label,
.app .to-do-list .placeholder .view label {
  cursor: pointer;
}
.app .to-do-list .to-do .remove,
.app .to-do-list .placeholder .remove {
  text-align: right;
}
.app .to-do-list .to-do .remove:hover,
.app .to-do-list .placeholder .remove:hover {
  color: #F36;
}
.app .to-do-list .to-do .edit,
.app .to-do-list .placeholder .edit {
  height: 0;
  padding: 0 16px;
  overflow: hidden;
}
.app .to-do-list .to-do .edit input,
.app .to-do-list .placeholder .edit input {
  padding: 2px 8px;
  background: none;
  border: none;
  transition: all 0.5s ease;
}
.app .to-do-list .to-do.done,
.app .to-do-list .placeholder.done {
  background: rgba(255, 255, 255, 0.5);
}
.app .to-do-list .to-do.done .view label,
.app .to-do-list .placeholder.done .view label {
  text-decoration: line-through;
}
.app .to-do-list .to-do.editing .view,
.app .to-do-list .placeholder.editing .view {
  display: none;
}
.app .to-do-list .to-do.editing .edit,
.app .to-do-list .placeholder.editing .edit {
  height: auto;
}
.app .to-do-list .to-do.editing:hover,
.app .to-do-list .placeholder.editing:hover {
  background: #ffffff;
}
.app .to-do-list .to-do:hover,
.app .to-do-list .placeholder:hover {
  background: #e6e6e6;
  box-shadow: none;
}
.app .to-do-list .placeholder {
  background: #e6e6e6;
}
.app .to-do-list .placeholder.done {
  background: rgba(230, 230, 230, 0.5);
}
.app .to-do-list .add {
  margin: 16px 0;
  padding: 0;
}
.app .to-do-list .add textarea {
  background: #e6e6e6;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #dadada;
  transition: all 0.5s ease;
}
.app .to-do-list.adding .add textarea {
  background: #FFF;
}
.app footer {
  text-align: center;
}
